@import "config.variables.scss";


.Image {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 400px;
  }
}

.ImageButtons {
  display: flex;
  justify-content: center;
}
